---
const personalImageAlt = "David Ruiz";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-white-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo <strong>David Ruiz</strong>. Empecé en la programación de
            forma
            <strong>autodidacta</strong> y estoy siempre en constante <strong
                >aprendizaje</strong
            > y mejora. Estudié en <strong>SENATI</strong> y he creado algunas páginas
            web para adquirir experiencia.
        </p>

        <p>
            Actualmente, estoy llevando un <strong
                >curso de desarrollo web</strong
            > para mejorar mis habilidades y prepararme para los desafíos del mundo
            profesional. Me encanta <strong>trabajar en equipo</strong>
            y compartir conocimientos con otros desarrolladores.
        </p>
    </div>

    <img
        width="200"
        height="200"
        src="/me.jpg"
        alt={personalImageAlt}
        class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
